<?xml version='1.0' encoding='utf-8'?>
<widget id="kz.imv.sushi" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Imv</name>
    <description>
        Oficial app ios imv
    </description>
    <author email="info@motive.kz" href="http://imv.kz">
        shane, terra
    </author>
    
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="cordova-plugin-network-information" />
    
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <platform name="ios">
        
        <splash src="www/res/screen/ios/iphone.png" width="320" height="480"/>
        <splash src="www/res/screen/ios/iphone.png" width="640" height="960"/>
        <splash src="www/res/screen/ios/iphone.png" width="768" height="1024"/>
        <splash src="www/res/screen/ios/iphone.png" width="1536" height="2048"/>
        
        <preference name="Orientation" value="portrait" />
        <preference name="Fullscreen" value="false" />
        <preference name="AutoHideSplashScreen" value="true" />
        <preference name="SplashScreenDelay" value="2000" />
        
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    
    
    <plugin name="cordova-plugin-splashscreen" spec="~4.0.0" />
</widget>
